/* Webfont: MacPawFixelText-Light */
@font-face {
    font-family: 'MacPawFixelText';
    src: url('./fonts/fixel/MacPawFixelText-Light.woff2') format('woff2'),
        /* Modern Browsers */ url('./fonts/fixel/MacPawFixelText-Light.otf')
            format('opentype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: MacPawFixelText-Regular */
@font-face {
    font-family: 'MacPawFixelText';
    src: url('./fonts/fixel/MacPawFixelText-Regular.woff2') format('woff2'),
        /* Modern Browsers */ url('./fonts/fixel/MacPawFixelText-Regular.otf')
            format('opentype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/* Webfont: MacPawFixelText-Bold */
@font-face {
    font-family: 'MacPawFixelTextBold';
    src: url('./fonts/fixel/MacPawFixelText-Bold.woff2') format('woff2'),
        /* Modern Browsers */ url('./fonts/fixel/MacPawFixelText-Bold.otf')
            format('opentype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}
